{% extends 'base.html' %}

{% block title %}{{ post.title_tag}}{% endblock %}

{% block home %}

<div class="detail-article-view-container">
    <div class="detail-article-view">
      <h1 class="detail-article-title">{{post.title}}</h1>
      <div>
        <span>By: {{ post.author.first_name }} {{ post.author.last_name }}</span>
        {% if user.is_authenticated %}
        {% if user.id == post.author.id or user.id == 1%}

            <small><a href="{% url 'update-article' post.pk %}">(Edit)</a></small>
            <small><a href="{% url 'delete-article' post.pk %}">(Delete)</a></small>
        {% endif %}
      {% endif %}
      </div>

      <div class="featured-articles-container-lower">
        
  
        <div class="detail-article">
          <div class="detail-article-content">
            <div class="detail-article-header">
              <span class="detail-article-category">Article tags:</span>
              {% for tag in post.tags.all %}
              <span class="detail-article-category">#{{tag.name}}</span>
              {% endfor %}
            </div>
            <div class="detail-article-views-container">
            <span>Article views: {{post.views}}</span>
            </div>
            
            <div class="detail-article-header">
              <!-- <span class="detail-article-category">Category :{{post.category}}</span> -->
              Category: <a class="text-info" href="{% url 'category' post.category|slugify %}">{{post.category}}</a>
            </div>
            <div class='article-detail-created-at-container'>Post created at {{ post.created_at|date:"jS F Y"}}

            </div>
            <hr>

            <div class="detail-article-text">{{ post.content|safe }}</div>
            <div class="detail-article-words-number-container">
              <span>Number of words: {{post.content | wordcount}}</span>
            </div>
            <hr>
          </div>
        </div>

      </div>

    </div>
  
    <div class="trending-articles-container">
      <h1 class="featured-title">Trending</h1>
  
      {% for trend in most_popular %}
      <a href="{% url 'article-detail' trend.pk %}"
      class="text-decoration-none text-black">
      <div class="trending-featured-article">
        <div class="featured-article-content">
          <div class="featured-article-header">
            <span class="featured-article-title"> {{trend.title| truncatewords:4 }} </span>
            <span class="featured-article-category"> tags {{trend.category}}</span>
          </div>
          <div class="featured-article-text">{{ trend.content }}</div>
        </div>
      </div>
      </a>
      {% endfor%}
    </div>
  </div>


  <div class="main-comment-section-container">

    <form action="{% url 'article-detail' post.pk %}" method="post">
      {% if user.is_authenticated %}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-outline-success">
       {% else %}
       <span>You must be logged in to add comment</span>
        {% endif %}

      </form>

    <div class="number-of-comments-container">
    {{ comments.count }} Comment{{comments|pluralize}}
    </div>
    {% for comment in comments %}
    <div>
    <blockquote class="blockquote blockquote-distance-container">
      <p class="mb-0"> {{ comment.content }}</p>
      <footer class="blockquote-footer blockquotedistance">by <cite title="Source Title">{{comment.user|capfirst}}</cite></footer>
    </blockquote>
    </div>
    {% endfor %}


    

  <div class="back-to-home-button-container">
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
  </div>




  </div>

    <!-- {{ comments.count }} Comment {{comment|pluralize}}
    <form method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      {% if user.is_authenticated %}
        <input type="submit" value="Submit" class="btn btn-outline-success">
      {% else %}
        <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
      {% endif %}
    </form>
  <div class="comment-section-container">
    {% for comment in comments %}

    <blockquote class="blockquote">
      <p class="mb-0"> {{ comment.content }}</p>
      <footer class="blockquote-footer">by <cite title="Source Title">{{comment.user|capfirst}}</cite></footer>
    </blockquote>

    <div class="replied-comments container mt-2">
      <div class="form-group row">
        <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        {% if user.is_authenticated %}
          <input type="submit" value="Submit" class="btn btn-outline-success">
        {% else %}
          <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
        {% endif %}
      </form>
    </div>

  </div>
  {% endfor %} -->



{% endblock %}



